<h1>Add New Contact: </h1>
<form action="/contact_created" method="post">
    <label for="new-name"></label>
    <input type="text" name="new-name" id="new-name">
    <label for="new-phoneNumber"></label>
    <input type="number" name="new-phoneNumber" id="new-phoneNumber">
    <label for="new-address"></label>
    <input type="text" name="new-address" id="new-address">
    <button type="submit" name="add-contact">ADD CONTACT!</button>
</form>
