<h1>You have DELETED ALL CONTACTS in your Address book!</h1>
<h2>Click here to go back to <a href="/">HOMEPAGE! </a></h2>
<h3>Or Click here to add new contact <a href="/add_new_contact">ADD CONTACT!</a> </h3>
