<h1>Your NEW CONTACT has been CREATED!</h1>
<h2>@Model.GetName() is added to your Address Book!</h2>
<ul>
    <li>Name: @Model.GetName()</li>
    <li>Phone Number: @Model.GetPhoneNumber()</li>
    <li>Address: @Model.GetAddress()</li>
</ul>
<h4>Click here to<a href="/view_all_contacts"> View All Your Contact </a>in the Address Book</h4>
<h4>Click here to <a href="/add_new_contact">ADD NEW CONTACT!</a></h4>
